<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
	id        = "ar.com.ingverger.pruebas_compilacioin"
    versionCode = "10"
    version     = "1.0.0" >

	<!-- versionCode is optional and Android only -->

	<name>Pruebas Compilacion</name>

	<description>
		Prueba compilacion codigo para verificar funciones en Android
	</description>

	<author href="http://www.ingverger.com.ar" email="ingverger@gmail.com">Willie Verger
	</author>

	<preference name="orientation" value="default" />

	<platform name="ios">
	</platform>
	<platform name="android">
	</platform>
	<platform name="winphone">
	</platform>
	<icon src="willie.ico" />

</widget>