<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
	id        = "ar.com.ingverger.pruebas_compilacion"
    versionCode = "110"
    version     = "1.1.0" >

	<!-- versionCode is optional and Android only -->

	<name>Pruebas Compilacion</name>

	<description>
		Prueba compilacion codigo para verificar funciones en Android
	</description>

	<author href="http://www.ingverger.com.ar" email="ingverger@gmail.com">Willie Verger
	</author>

	<platform name="android">
	</platform>
	<icon src="icon.png" />

</widget>