<?xml version='1.0' encoding='utf-8'?>
<widget 
	id="ar.ingverger.memorious" 
	versionCode = "10001"
	version  = "1.0.1"
	xmlns="http://www.w3.org/ns/widgets" 
	xmlns:cdv="http://cordova.apache.org/ns/1.0">

	<name>MEMORIOUS</name>
	<description>
		Memorious es un juego que ejercita y desafia tu concentracion y memoria. 
		Sobre el tablero se colocan pares de imagenes iguales. El juego consiste en detectar esos pares. 
		Se elige un par de imagenes que se mostraran durente un segundo. Si las imagenes son iguales se retiran del tablero.
		Las imagenes no cambian su lugar durante el juego. La memoria interviene recordando los lugares donde las imagenes eran iguales.
		El juego finaliza una vez que se han detectado todos los pares.		
		Existen varios niveles de dificultad dados por la cantidad de imagenes que se presentan.
		La mecanica del juego es simple, sin embargo requiere memoria para facilitar la ubicacion adecuada de los pares de imagenes.
	</description>

	<author href="https://ingverger.ar/" email="ingverger@gmail.com">
		Guillermo Verger
	</author>

	<preference name="android-targetSdkVersion"  value="29" /> 
	<preference name="orientation" value="landscape" />  <!-- all: default means both landscape and portrait are enabled -->

    <content src="index.html" />
    <access origin="*" />

	<platform name="android">
		<allow-intent href="market:*" />
		<icon   src="icon.png" />
	</platform>

</widget>